<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <th:block layout:fragment="script">
        <script th:inline="javascript">
			/* <![CDATA[ */

				window.onload = function() {

					var message = /*[[ ${message} ]]*/;

					if (message != null && message != "") {
						alert(message);
					}

					var redirectUri = /*[[ ${redirectUri} ]]*/;

					top.location.href = redirectUri;

				}

			/* ]]> */
        </script>
    </th:block>

</div>
</body>
</html>